.promo {
	min-height: 100vh;
	padding-top: 205px;
	position: relative;
	background: url("../../img/main_bg.jpg") no-repeat 50% / cover;
	&__subtitle {
		position: relative;
		padding-left: 12px;
		z-index: 1;
		text-align: left;
		@include circle;
		&::before {
			top: -29%;
			left: 0;
			transform: translateX(0%);
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			-o-transform: translateX(0%);
		}
	}

	&__title {
		text-align: left;
		width: 532px;
		font-size: 48px;
		margin-top: 9px;
	}
	&-btns {
		width: 275px;
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__link {
			font-weight: bold;
			font-size: 14px;
			line-height: 21px;
			color: #000;
			&:last-child {
				padding: 12px 25px;
			}
		}
	}
}
