.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 340px;
	z-index: 5;
	&__divider {
		width: 2px;
		height: 70px;
		background: #000;
		margin-bottom: 6px;
	}
	&__text {
		height: 135px;
		width: 25px;
		& span {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: #000;
			display: block;
			width: 150px;
			transform: rotate(-90deg) translate(-30%, -260%);
			-webkit-transform: rotate(-90deg) translate(-30%, -260%);
			-moz-transform: rotate(-90deg) translate(-30%, -260%);
			-ms-transform: rotate(-90deg) translate(-30%, -260%);
			-o-transform: rotate(-90deg) translate(-30%, -260%);
		}
	}
}
